* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
      font-size: 13px;
  } */

body {
  background-color: #ffffff;
  font-family: 'Nunito', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.main-container {
  position: relative;
}

@media (max-width: 1500px) {
  html {
    font-size: 13px;
  }
  .designation{
    font-weight: 500;
  }
}

@media (max-width: 1350px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 11px;
  }
}

/* header */

.header-about {
  margin-bottom: 100px;
}
/* .header-about .container .res-detail,
.header-about .container .res-img-cont {
  display: none;
} */

.header-about .container {
  /* padding: 150px 50px 0 50px;
  margin: auto;
  max-width: 1600px; */
}

.header-about .container .title {
  text-align: center;
  /* font-size: 3rem; */
  /* margin-bottom: 35px; */
  font-family: 'Montserrat', sans-serif;
  color: #242424;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  padding-top: 150px;
	background-color: #f3f8ff;
}

.header-about .container .res-detail {
  /* font-size: 2rem;
  line-height: 50px; */
  font-family: 'Montserrat', sans-serif;
  color: #646464;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 30px;
  /* width: 60%;
  margin: 0 auto; */
	background-color: #f3f8ff;
  padding: 35px 0px;


  

}
.header-about .container .res-detail .about-info{
    width: 60% !important;
    margin: 0 auto;
    /* margin-bottom: 70px !important; */
  }

.header-about .container .res-img-cont {
  margin-bottom: 0px;
  margin-left: 20%;
  margin-right:  20%;
  padding-top: 35px !important;

}
.margin-left {
  margin-left: 20% !important;
}
.margin-right {
  margin-right: 20% !important;
}


.header-about .container .sec-img {
  text-align: right;
}

.header-about .container .res-img-cont .img {
  width: 56.7%;
  /* box-shadow: 0 8px 5px -6px #111; */
  box-shadow: 33px 29px 10px -15px #eceaea;
}

.header-about .container .header-img-container .header-img {
  width: 100%;
}

@media (max-width: 800px) {
  .header-about {
    margin-bottom: 70px;
  }

  .header-about .container {
    /* padding: 130px 30px 0 30px; */
  }

  .header-about .container .title {
    /* margin-bottom: 40px; */
  }

  .header-about .container .header-img-container {
    display: none;
  }

  .header-about .container .res-detail,
  .header-about .container .res-img-cont {
    display: block;
  }

  .header-about .container .res-img-cont .img {
    width: 100%;
    text-align: center;
    margin: 0 !important;
  }

  .header-about .container .res-detail {
    font-size: 1.5rem;
    line-height: 25px;
    margin-bottom: 50px;
    display: block;
    /* text-align: justify; */
    padding-top: 40px;
  }
  .header-about .container .res-img-cont {
    margin-bottom: 30px;
    text-align: center;
  }
}

/* team */

.team {
  margin-bottom: 100px;
  /* padding: 50px 0 70px 0; */
  padding: 70px 0px;

  background: linear-gradient(
    to right,
    #1c4a86 0%,
    #1c4e87 4%,
    #1b5289 9%,
    #1b538a 9%,
    #1b578b 14%,
    #1a5d8e 20%,
    #186994 31%,
    #177499 41%,
    #167b9c 48%,
    #1486a1 60%,
    #1390a6 68%,
    #129aab 78%,
    #10a7b0 89%,
    #0fafb4 100%
  );
}

.team .container {
  /* max-width: 1600px; */
  max-width: 1500px;

  margin: auto;
  padding: 0 50px;
}

.team .container .title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.team .container .main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  color: #fff;
  width: 80%;
  margin: 0 auto;
}

.team .container .main .member {
  text-align: center;
  /* width: 15%; */
  width: 27%;
  margin-bottom: 16px;

}

.team .container .main .member .pic-cont {
  width: 100%;
  /* width: 80%; */

  margin: auto;
  margin-bottom: 0px;
  /* border: 7px solid rgba(0,0,0,.1); */
}

.team .container .main .member .name {
  /* margin-bottom: 30px; */
  /* margin-bottom: 8px; */
  font-size: 1.5rem;
  line-height: 30px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  /* height: 50px; */
}
.designation {
  margin-bottom: 8px;
  font-size: 18px;
  padding-top: 8px;
  font-weight: 600;

}


.team .container .main .member .role {
  font-size: 1.4rem;
  font-weight: bolder !important;
}

.team .container .main .member .pic-cont .pic {
  /* width: 100%; */
    width: 225px;
    height: 225px;
    border-radius: 50% !important;
}
.socialprof-icon{
  font-size: 24px;

}

.socialprof-icon a i {
  font-size: 20px;
    line-height: 50px;
    display: block;
    width: 50px;
    height: 50px;
    transition: all .3s;
    /* color:#2f3490; */
    color:#fff;
    border-radius: 100%;
    outline: 0;
    /* background-color: #ffffff; */
    background-color: #000000;

    margin: 0 auto;
  
}
.socialprof-icon a i:hover{
 color: #ffffff;
 background-color: #fed136;


}

.team .container .res-img-cont {
  display: none;
}

.team .container .img-container .team-img {
  width: 100%;
}

@media (max-width: 1200px) {
  .team .container .main .member {
    margin-bottom: 70px;
    /* width: 30%; */
    width: 48%;

  }
  .team .container .main .member .name {
    /* margin-bottom: 40px;
    font-size: 1.5rem;
    line-height: 30px; */
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
  }

  .team .container .main .member .role {
    font-size: 1.4rem;
  }
  .designation{
    font-weight: 500;
  }
}

@media (max-width: 800px) {
  .team {
    margin-bottom: 70px;
  }

  .team .container {
    padding: 0 20px;
  }

  .team .container .img-container .team-img {
    display: none;
  }
  .team .container .res-img-cont {
    display: block;
  }
  .team .container .res-img-cont .res-img img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .team {
    margin-bottom: 50px;
    padding: 50px 0 50px 0;
  }

  .team .container .title {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  .team .container .main .member {
    margin-bottom: 50px;
    /* width: 30%; */
    width: 100%;

  }

  .team .container .main .member .pic-cont {
    margin-bottom: 00px;
  }

  .team .container .main .member .name {
    /* margin-bottom: 25px;
    font-size: 1.2rem;
    line-height: 25px; */
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
  }

  .team .container .main .member .role {
    font-size: 1rem;
  }
}

/* partners */

.partners {
  margin-bottom: 100px;
}

.partners .container {
  /* max-width: 1600px; */
  max-width: 1500px;

  /* padding: 0 50px; */
  padding: 60px 50px;
  margin: auto;
}

.partners .container .title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 80px;
  font-family: 'Montserrat', sans-serif;
}

.partners .container .row-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto 80px auto;
}

.partners .container .row-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto 80px auto;
}

.partners .container .row-btn .img-container,
.partners .container .row-around .img-container {
  width: 25%;
}

.partners .container .row-around .small-img-container {
  width: 15%;
}

.partners .container .row-btn .img-container .partner-img,
.partners .container .row-around .img-container .partner-img {
  width: 100%;
}

@media (max-width: 800px) {
  .partners .container {
    padding: 0 20px;
  }
  .partners .container .row-btn {
    width: 100%;
    margin: 0 auto 60px auto;
  }

  .partners .container .row-around {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .partners {
    margin-bottom: 0px;
  }
}
