/* topbar */

.topbar {
  z-index: 10;
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: #000;
  color: #fff;
  /* -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2); */
  font-family: 'Roboto', sans-serif;
}

.res-topbar {
  display: none;
}

.topbar .container {
  padding: 0 50px;
  max-width: 1600px;
  widows: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container .res-nav-items {
  display: none;
  position: fixed;
  top: 100px;
  left: 0;
  background-color: #fff;
  color: #000;
  width: 100%;
}

.topbar .container .logo-container {
  width: 20%;
  padding: 0px 0;
}
.topbar .container .logo-container .logo {
  max-width: 150px;
}

.topbar .container .res-menu {
  display: none;
}

.topbar .container .nav-items {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.topbar .container .nav-items .item-container {
  cursor: pointer;
  position: relative;
  min-width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
}
.topbar .container .nav-items .item-container .item {
  text-align: center;
  color: #fff;
  width: 100%;
  font-size: 20px !important;
  padding: 0 25px;
}

.topbar .container .nav-items .item-container .item:hover,
.topbar .container .nav-items .item-container .item a:hover {
  color: #4eb6bc;
}

.topbar .container .nav-items .item-container .item .down {
  width: 15px;
  margin-left: 7px;
}
.topbar .container .nav-items .item-container .item .cart,
.topbar .container .nav-items .item-container .item .user {
  width: 17px;
  margin-right: 10px;
}
.topbar .container .nav-items .item-container .item-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  /* min-width: 100%; */
  background-color: black;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-top: solid 4px #ffffff;
  width: 84%;
  left: 10%;
}
.topbar .container .nav-items .item-container .item-dropdown .item-drop-ele {
  letter-spacing: 1px;
  opacity: 1;
  padding: 15px;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
}

.topbar .container .nav-items .item-container .item-dropdown .item-drop-ele a {
  color: #fff;
  text-decoration: none;
}

.topbar
  .container
  .nav-items
  .item-container
  .item-dropdown
  .item-drop-ele:hover
  a {
  color: #4eb6bc;
}

/* .cus-up,
  .comp-up {
    display: none;
  } */

.main-container .res-nav-items .subdown {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.topbar
  .container
  .nav-items
  .item-container
  .item-dropdown
  .item-drop-ele:hover {
  color: #4eb6bc;
}

.topbar .container .nav-items .item-container .item a {
  color: #fff;
  text-decoration: none;
}
.topbar .container .nav-items .item-container:hover .item-dropdown {
  display: block;
  -webkit-animation: all .5s ease-out;
  -moz-animation: all .5s ease-out;
  
}
@-webkit-keyframes all {
  0% { opacity: 0; -webkit-transform: translateY(-100%); }   
100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes all {
  0% { opacity: 0; -moz-transform: translateY(-100%); }   
100% { opacity: 1; -moz-transform: translateY(0); }
}
.topbar .container .nav-items .item-md {
  min-width: 14%;
}
.topbar .container .nav-items .item-lg {
  min-width: 17%;
}

.block {
  display: block !important;
}

.none {
  display: none !important;
}

.sub-cust,
.sub-comp {
  display: none;
}

.applications-header .container .header-content .indi-application:hover {
  background: #1c4784;
  background: -webkit-linear-gradient(to right, #0da6ad, #1c4784);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0da6ad, #1c4784); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  border-color: transparent;
}

@media (max-width: 1100px) {
  .topbar .container .nav-items {
    display: none;
  }
  .topbar .container .res-menu {
    display: block;
    width: 30px;
  }

  .topbar .container .res-menu .menu {
    width: 100%;
  }
  .main-container .res-nav-items {
    z-index: 10;
  }

  .main-container .res-nav-items li a,
  .main-container .res-nav-items .subdown {
    text-decoration: none;
    color: rgb(71, 71, 71);
    display: block;
    /* padding: 20px 20px; */
    padding: 20px 60px;

    font-size: 1.3rem;
    border-bottom: 1px solid #e6e6e6;
    font-weight: bold;
  }

  .main-container .res-nav-items .sub-cust,
  .main-container .res-nav-items .sub-comp {
    background-color: #eee;
    text-decoration: none;
    color: rgb(71, 71, 71);
    /* padding: 20px 20px; */
    padding: 20px 60px;

    font-size: 1.3rem;
    border-bottom: 1px solid #e6e6e6;
    font-weight: bold;
  }

  .sub-cust a,
  .sub-comp a {
    width: 100%;
    color: rgb(71, 71, 71);
    display: block;
  }
}

@media (max-width: 700px) {
  .topbar {
    padding: 15px 20px;
    height: auto;
  }

  .main-container .res-nav-items {
    z-index: 10;
    top: 74.16px;
  }

  .main-container .res-nav-items li a,
  .main-container .res-nav-items .subdown {
    text-decoration: none;
    color: rgb(71, 71, 71);
    display: block;
    /* padding: 20px 20px; */
    padding: 20px 60px;
    font-size: 1.3rem;
    border-bottom: 1px solid #e6e6e6;
    font-weight: bold;
  }

  .main-container .res-nav-items .sub-cust,
  .main-container .res-nav-items .sub-comp {
    background-color: #eee;
    text-decoration: none;
    color: rgb(71, 71, 71);
    /* padding: 20px 20px; */
    padding: 20px 60px;
    font-size: 1.3rem;
    border-bottom: 1px solid #e6e6e6;
    font-weight: bold;
  }

  .sub-cust a,
  .sub-comp a {
    width: 100%;
    color: rgb(71, 71, 71);
    display: block;
  }

  .topbar .container .logo-container .logo {
    max-width: 100px;
  }

  .topbar .container {
    padding: 0;
    width: 100%;
  }
}

/* main-footer */
.main-footer {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
}

.main-footer .container {
  /* max-width: 1600px; */
  max-width: 1500px;
  margin: auto;
  padding: 80px 50px;
  display: grid;
  grid-template-columns: 35% 65%;
}

.main-footer .container .left-content .brand-icon {
  width: 40%;
  margin-bottom: 30px;
}

.main-footer .container .left-content .brand-icon img {
  width: 100%;
}

.main-footer .container .left-content .txt {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 80px;
}

.main-footer .container .left-content .social {
  display: flex;
  align-items: center;
  width: 55%;
}

.main-footer .container .left-content .social .link {
  width: 25%;
  cursor: pointer;
}

.main-footer .container .left-content .social .link img {
  max-width: 70%;
}

.main-footer .container .right-content {
  color: #fff;
}
.main-footer .container .right-content .container {
  padding: 0 0 0 100px;
  display: flex;
  justify-content: space-between;
}

/* .main-footer .container .right-content .container .mini-section {
      background-color: yellowgreen;
  } */

.main-footer .container .right-content .container .mini-section .title {
  color: #fff;
  margin-bottom: 40px;
  font-size: 20px;
}

.main-footer .container .right-content .container .mini-section .title a {
  color: #fff;
  width: 100%;
  text-decoration: none;
}

.main-footer .container .right-content .container .mini-section .title a:hover {
  color: #4eb6bc;
}

.main-footer .container .right-content .container .mini-section .link {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 30px;
  font-size: 18px;
}

.main-footer .container .right-content .container .mini-section .link:hover {
  color: #4eb6bc;
}

@media (max-width: 1100px) {
  .main-footer .container {
    padding: 80px 20px;
  }
  .main-footer .container .right-content .container {
    padding: 0 0 0 30px;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 800px) {
  .main-footer .container {
    padding: 40px 20px;
  }
  .main-footer .container {
    grid-template-columns: 100%;
  }

  .main-footer .container .left-content .brand-icon {
    width: 20%;
    margin: 0 auto 30px auto;
  }

  .main-footer .container .left-content .txt {
    text-align: center;
  }

  .main-footer .container .left-content .social {
    display: none;
  }

  .main-footer .container .right-content .container {
    padding: 0 0 0 0px;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .main-footer .container .right-content .container .mini-section .title {
    color: #fff;
    margin-bottom: 30px;
    font-size: 15px;
  }

  .main-footer .container .right-content .container .mini-section .link {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .main-footer .container .left-content .brand-icon {
    width: 35%;
  }
  .main-footer .container .left-content .txt {
    font-size: 14px;
    margin-bottom: 50px;
  }
  .main-footer .container .right-content .container .mini-section .title {
    color: #fff;
    margin-bottom: 30px;
    font-size: 12px;
  }

  .main-footer .container .right-content .container .mini-section .link {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 10px;
  }
}


.social-icon{
  font-size: 24px;
  text-align: center;
}

.social-icon a i {
  font-size: 20px;
    line-height: 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
    transition: all .3s;
    /* color:#2f3490; */
    color: #ffffff;
    border-radius: 100%;
    outline: 0;
    /* background-color: #ffffff; */
    background: -webkit-linear-gradient(to right, #0da6ad, #1c4784); 
    background: linear-gradient(to right, #0da6ad, #1c4784); 
    margin: 0 auto;
  
}
.social-icon a i:hover{
  background: -webkit-linear-gradient(to right, #ffffff, #ffffff); 
  background: linear-gradient(to right, #ffffff, #ffffff); 
  color: #1c4784;


}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background: -webkit-linear-gradient(to right, #0da6ad, #1c4784); 
  background: linear-gradient(to right, #0da6ad, #1c4784); 
  color: #ffffff;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

