* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
      font-size: 13px;
  } */

body {
  font-family: 'Nunito', sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  box-shadow: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 1500px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1350px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 12px;
  }
}

.main-container {
  position: relative;
}

/* contact header */

.contact-header {
  margin-bottom: 40px;
}

.contact-header .title {
  padding-top: 140px;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}

.contact-header .container {
  max-width: 1600px;
  padding: 0 50px;
  margin: auto;
  display: flex;
}

.contact-header .container .form,
.contact-header .container .address {
  width: 40%;
  padding: 20 30px 0 0;
  
}
.contact-header .container .form{
  width: 60%;
  background: #f3f8ff;
  padding: 40px  50px 20px 50px;
  border-radius: 20px;

}

.contact-header .container .form .form-input,
.contact-header .container .form .message-field,
.contact-header .container .form .submit {
  display: inline-flex;
  width: 48%;
  padding: 20px 30px;
  margin-bottom: 30px;
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid rgb(195, 230, 255);
  font-family: 'Nunito', sans-serif;
  /* background-color: #f6fbff; */
  border-radius: 10px;
}

.contact-header .container .form .submit {
  padding: 15px 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  color: #fff;
  background: linear-gradient(
    to right,
    #1c4a86 0%,
    #1c4e87 4%,
    #1b5289 9%,
    #1b538a 9%,
    #1b578b 14%,
    #1a5d8e 20%,
    #186994 31%,
    #177499 41%,
    #167b9c 48%,
    #1486a1 60%,
    #1390a6 68%,
    #129aab 78%,
    #10a7b0 89%,
    #0fafb4 100%
  );
  border-radius: 50px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.contact-header .container .form .submit:hover {
font-weight: bold;
background: -webkit-linear-gradient(
  to right,
  #1c4a86 0%,
  #1c4e87 4%,
  #1b5289 9%,
  #1b538a 9%,
  #1b578b 14%,
  #1a5d8e 20%,
  #186994 31%,
  #177499 41%,
  #167b9c 48%,
  #1486a1 60%,
  #1390a6 68%,
  #129aab 78%,
  #10a7b0 89%,
  #0fafb4 100%
);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-border-image: -webkit-linear-gradient(
  to right,
  #1c4a86 0%,
  #1c4e87 4%,
  #1b5289 9%,
  #1b538a 9%,
  #1b578b 14%,
  #1a5d8e 20%,
  #186994 31%,
  #177499 41%,
  #167b9c 48%,
  #1486a1 60%,
  #1390a6 68%,
  #129aab 78%,
  #10a7b0 89%,
  #0fafb4 100%
);
-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-header .container .address {
  padding-left: 40px;
  padding-top: 40px;
}

/* .contact-header .container .address .map-cont {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
} */

.contact-header .container .address .subtitle {
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 30px;
}

.contact-header .container .address .contact-hint {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-header .container .address .icon-cont {
  font-size: 0;
  line-height: 0;
}

.contact-header .container .address .icon-cont .icon {
  height: 100%;
}

.contact-header .container .address .contact-hint .txt {
  margin-left: 30px;
  font-size: 1.2rem;
}

.contact-header .container .address .social {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.contact-header .container .address .social .social-cont {
  width: 40px;
  margin-right: 20px;
}

.contact-header .container .address .social .social-cont .icon {
  width: 100%;
}

.err {
  color: red;
  font-weight: bold;
  margin: 0 0 20px 0 !important;
  /* text-align: center; */
  /* display: block; */
}

@media (max-width: 1100px) {
  .contact-header .container {
    padding: 0 20px;
  }
}

@media (max-width: 950px) {
  .contact-header .container {
    flex-direction: column;
  }

  .contact-header .title {
    padding-top: 120px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
  }

  .contact-header .container .form,
  .contact-header .container .address {
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-header .container .form .form-input,
  .contact-header .container .form .message-field,
  .contact-header .container .form .submit {
    padding: 10px 20px;
    margin-bottom: 30px;
    width: 100%;
    margin-left: 0px !important;
  }

  .contact-header .container .address .social {
    margin-top: 30px;
  }
  .contact-header .container .address .social .social-cont {
    width: 30px;
  }
  
}

/* main-footer */
.main-footer {
  background-color: #2f2c2c;
  font-family: 'Roboto', sans-serif;
}

.main-footer .container {
  max-width: 1600px;
  margin: auto;
  padding: 80px 50px;
  display: grid;
  grid-template-columns: 35% 65%;
}

.main-footer .container .left-content .brand-icon {
  width: 40%;
  margin-bottom: 30px;
}

.main-footer .container .left-content .brand-icon img {
  width: 100%;
}

.main-footer .container .left-content .txt {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 80px;
}

.main-footer .container .left-content .social {
  display: flex;
  align-items: center;
  width: 55%;
}

.main-footer .container .left-content .social .link {
  width: 25%;
  cursor: pointer;
}

.main-footer .container .left-content .social .link img {
  max-width: 70%;
}

.main-footer .container .right-content {
  color: #fff;
}
.main-footer .container .right-content .container {
  padding: 0 0 0 100px;
  display: flex;
  justify-content: space-between;
}

/* .main-footer .container .right-content .container .mini-section {
    background-color: yellowgreen;
} */

.main-footer .container .right-content .container .mini-section .title {
  color: #fff;
  margin-bottom: 40px;
  font-size: 20px;
}

.main-footer .container .right-content .container .mini-section .title a {
  color: #fff;
  width: 100%;
  text-decoration: none;
}

.main-footer .container .right-content .container .mini-section .link {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 30px;
  font-size: 18px;
}

@media (max-width: 1100px) {
  .main-footer .container {
    padding: 80px 20px;
  }
  .main-footer .container .right-content .container {
    padding: 0 0 0 30px;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 800px) {
  .main-footer .container {
    padding: 40px 20px;
  }
  .main-footer .container {
    grid-template-columns: 100%;
  }

  .main-footer .container .left-content .brand-icon {
    width: 20%;
    margin: 0 auto 30px auto;
  }

  .main-footer .container .left-content .txt {
    text-align: center;
  }

  .main-footer .container .left-content .social {
    display: none;
  }

  .main-footer .container .right-content .container {
    padding: 0 0 0 0px;
    display: flex;
    justify-content: space-between;
  }
  .contact-header .container .address .contact-hint1{
    margin-left: 185px;
  }
  .contact-header .container .address .contact-hint3{
    margin-right: 20px;
  }
}

@media (max-width: 600px) {
  .main-footer .container .right-content .container .mini-section .title {
    color: #fff;
    margin-bottom: 30px;
    font-size: 15px;
  }

  .main-footer .container .right-content .container .mini-section .link {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .contact-header .container .address .contact-hint1{
    margin-left: 76px;
  }
  .contact-header .container .address .contact-hint3{
    margin-right: 20px;
  }
  .contact-header .container .form .submit:hover {
    font-weight: bold;
    background: -webkit-linear-gradient(
      to right,
      #1c4a86 0%,
      #1c4e87 4%,
      #1b5289 9%,
      #1b538a 9%,
      #1b578b 14%,
      #1a5d8e 20%,
      #186994 31%,
      #177499 41%,
      #167b9c 48%,
      #1486a1 60%,
      #1390a6 68%,
      #129aab 78%,
      #10a7b0 89%,
      #0fafb4 100%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-border-image: -webkit-linear-gradient(
      to right,
      #1c4a86 0%,
      #1c4e87 4%,
      #1b5289 9%,
      #1b538a 9%,
      #1b578b 14%,
      #1a5d8e 20%,
      #186994 31%,
      #177499 41%,
      #167b9c 48%,
      #1486a1 60%,
      #1390a6 68%,
      #129aab 78%,
      #10a7b0 89%,
      #0fafb4 100%
    );
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    
    
}

@media (max-width: 500px) {
  .main-footer .container .left-content .brand-icon {
    width: 35%;
  }
  .main-footer .container .left-content .txt {
    font-size: 14px;
    margin-bottom: 50px;
  }
  .main-footer .container .right-content .container .mini-section .title {
    color: #fff;
    margin-bottom: 30px;
    font-size: 12px;
  }

  .main-footer .container .right-content .container .mini-section .link {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 10px;
  }
}

.contact-map{
  width: 100%;
  height: 460px;
  margin-bottom: 60px;
  display: inline-flex;
  justify-content: center;
}
.contact-map .map-cont{
  width: 82%;
  height: 100%;
  border-radius: 16px;

 
}