* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
    font-size: 13px;
} */

body {
  background-color: rgb(249, 249, 249);
  font-family: 'Nunito', sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.main-container {
  position: relative;
}

@media (max-width: 1500px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1350px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 11px;
  }
}



/* mads header */

.mads-header {
  height: 100vh;
  background-color: #ffffff;
}

.mads-header .container {
  padding: 150px 50px 0 50px;
  max-width: 1600px;
  margin: auto;
}

.mads-header .container .header-title {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.mads-header .container .header-subtitle {
  padding-top: 35px;
  margin-bottom: 35px;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
}

.mads-header .container .hero-img-container {
  text-align: center;
}

.mads-header .container .hero-img-container .hero {
  width: 70%;
}

@media (max-width: 1300px) {
  .mads-header {
    height: auto;
  }
  .mads-header .container {
    padding: 120px 20px 0 20px;
  }
}

@media (max-width: 600px) {
  .mads-header .container .hero-img-container .hero {
    width: 100%;
  }
}

/* mads demo */
.mads-demo {
  padding-top: 70px;
}

.mads-demo .container {
  max-width: 1600px;
  padding: 0 50px;
  margin: 0 auto 100px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mads-demo .container .single-demo {
  width: 15%;
}

.mads-demo .container .single-demo .demo-cont {
  background-color: #fff;
  margin-bottom: 30px;
  padding: 20px 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.mads-demo .container .single-demo .demo-cont:hover{
  background: #1c4784;
  background: -webkit-linear-gradient(to right, #0da6ad, #1c4784);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0da6ad, #1c4784); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  border-color: transparent;
}

.mads-demo .container .single-demo .demo-cont .img-cont .demo {
  width: 100%;
}

.mads-demo .container .single-demo .name {
  text-align: center;
}

@media (max-width: 1000px) {
  .mads-demo .container {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    padding: 0 10px;
    margin: 0 auto 50px auto;
  }
  .mads-demo .container .single-demo {
    margin-bottom: 50px;
    width: auto;
  }
  .mads-demo .container .single-demo .demo-cont {
    padding: 10px 15px;
  }
}

@media (max-width: 800px) {
  .mads-demo .container .single-demo .demo-cont {
    padding: 10px 15px;
  }
  .mads-demo .container .single-demo .name {
    font-size: 0.7rem;
    line-height: 15px;
  }
}

@media (max-width: 600px) {
  .mads-demo .container {
    padding: 0 20px;
    margin: 0 auto 50px auto;
  }
}

/* about mads */

.about-mads {
  margin: 50px 0 100px 0;
}

.about-mads .container {
  max-width: 1600px;
  padding: 0 50px;
  margin: auto;
  display: grid;
  grid-template-columns: 48% 48%;
  grid-gap: 4%;
}

.about-mads .container .image-container .about-img {
  width: 100%;
}

.about-mads .container .details-container {
  padding: 20px 0;
}

.about-mads .container .details-container .title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.about-mads .container .details-container hr {
  width: 100px;
  margin-bottom: 20px;
}

.about-mads .container .details-container .detail {
  font-size: 1.3rem;
  line-height: 30px;
  color: grey;
}

@media (max-width: 1300px) {
  .about-mads .container .details-container {
    padding: 0;
  }
}

@media (max-width: 1250px) {
  .about-mads .container {
    grid-template-columns: 100%;
    padding: 20px;
    margin-bottom: 80px;
  }

  .about-mads .container .image-container {
    margin-bottom: 30px;
  }


  .about-mads .container .details-container .title {
    text-align: center;
  }

  .about-mads .container .details-container .detail {
    text-align: justify;
  }
}

/* in action */

.in-action {
  margin-bottom: 100px;
}

.in-action .container {
  max-width: 1600px;
  padding: 0 50px;
  margin: auto;
}

.in-action .container .title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.in-action .container .img-container img {
  width: 100%;
}

@media (max-width: 1200px) {

  .in-action {
    margin-bottom: 80px;
  }

  .in-action .container {
    padding: 0 20px;
  }
}

/* features */

.features {
  margin-bottom: 100px;
}

.features .container {
  padding: 0 50px;
  max-width: 1600px;
  margin: auto;
}

.features .container .title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
}

.features .container .wrapper {
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.features .container .wrapper .feature {
  text-align: center;
  width: 31%;
}

.features .container .wrapper .feature .feature-img-container .feature-img {
  width: 100%;
}

.features .container .wrapper .feature .feature-name {
  margin: 15px 0;
  font-size: 1.5rem;
}

.features .container .wrapper .feature .feature-detail {
  color: #4d4a4a;
  line-height: 25px;
  font-size: 1rem;
  width: 90%;
  margin: auto;
}

@media (max-width: 1000px) {
  .features {
    margin: 0px 0 50px 0;
  }
  .features .container {
    padding: 0 20px;
  }
}

@media (max-width: 700px) {
  .features .container .wrapper {
    max-width: 100%;
    flex-direction: column;
  }

  .features .container .wrapper .feature {
    width: 100%;
    margin-bottom: 50px;
  }
  .features .container .wrapper .feature .feature-name {
    margin: 15px 0;
    font-size: 1.7rem;
  }

  .features .container .wrapper .feature .feature-detail {
    font-size: 1.2rem;
  }
}


/* apps */

.apps {
  padding: 100px 0 100px 0;
  /* margin-bottom: 150px; */
  background: linear-gradient(
    to right,
    #1c4a86 0%,
    #1c4e87 4%,
    #1b5289 9%,
    #1b538a 9%,
    #1b578b 14%,
    #1a5d8e 20%,
    #186994 31%,
    #177499 41%,
    #167b9c 48%,
    #1486a1 60%,
    #1390a6 68%,
    #129aab 78%,
    #10a7b0 89%,
    #0fafb4 100%
  );
}

.apps .container {
  max-width: 1600px;
  padding: 0 50px;
  margin: auto;
}

.apps .container .title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.apps .container .msg {
  text-align: center;
  color: grey;
  font-size: 1.5rem;
  width: 60%;
  margin: 0 auto 80px auto;
  line-height: 35px;
  color: #fff;
}

.apps .container .apps-details {
  max-width: 90%;
  margin: auto;
}

.apps .container .apps-details .subtitle {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 60px;
  color: #4eb6bc;
}

.apps .container .apps-details .categories {
  display: grid;
  grid-template-columns: repeat(6, 13%);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.apps .container .apps-details .categories .indi-cat .wrapper {
  padding: 20px 40px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-bottom: 30px;
  background-color: #fff;
}

.apps .container .apps-details .categories .indi-cat .active-cat {
  border: 5px solid #ffdf79;
  border-radius: 5px;
}
.apps .container .apps-details .categories .indi-cat .wrapper:hover {
  border: 5px solid #ffdf79;
  border-radius: 5px;
}

.apps .container .apps-details .categories .indi-cat .apps-count {
  text-align: center;
  font-weight: bold;
  /* color: #4eb6bc; */
  color: #ffffff;
  font-size: 1.5rem;
  visibility: hidden;
}

.apps .container .apps-details .categories .indi-cat .apps-count-active {
  visibility: visible;
}

.apps
  .container
  .apps-details
  .categories
  .indi-cat
  .cat-icon-container
  .cat-icon {
  width: 100%;
}

.apps .container .apps-details .categories .indi-cat .cat-name {
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

.apps .container .apps-details .category-apps {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-gap: 4%;
}

.apps .container .apps-details .category-apps .app-detail {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: inset 0 0 15px yellow;
}
.apps .container .apps-details .category-apps .app-detail:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  border-color: transparent;
  border: 5px solid #ffdf79;
  border-radius: 5px;
  box-shadow: none;
}

.apps .container .apps-details .category-apps .app-detail .upper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

.apps .container .apps-details .category-apps .app-detail .upper .app-icon {
  width: 100%;
}

.apps
  .container
  .apps-details
  .category-apps
  .app-detail
  .upper
  .app-icon
  .icon {
  width: 80%;
}

.apps .container .apps-details .category-apps .app-detail .upper .main-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.apps
  .container
  .apps-details
  .category-apps
  .app-detail
  .upper
  .main-details
  .cat-name,
.apps
  .container
  .apps-details
  .category-apps
  .app-detail
  .upper
  .main-details
  .app-name {
  margin-bottom: 10px;
  color: #000;
  font-weight: bold;
}

.apps
  .container
  .apps-details
  .category-apps
  .app-detail
  .upper
  .main-details
  .cat-name {
  color: rgb(87, 87, 87);
  font-weight: normal;
}

.apps .container .apps-details .category-apps .app-detail .upper .main-details {
  color: grey;
}
.apps .container .apps-details .category-apps .app-detail .detail {
  line-height: 25px;
  color: grey;
}

@media (max-width: 1200px) {
  .apps .container {
    padding: 0 20px;
  }
}

@media (max-width: 1000px) {
  .apps {
    padding: 100px 0 200px 0;
  }
  .apps .container .apps-details .categories {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 0;
  }
  

  .apps .container .apps-details .categories .indi-cat {
    margin-bottom: 50px;
  }

  .apps .container .msg {
    text-align: center;
    font-size: 1.5rem;
    width: 90%;
    margin: 0 auto 80px auto;
    line-height: 35px;
  }
  .apps .container .apps-details .category-apps {
    grid-template-columns: 100%;
    grid-gap: 1%;
  }

  .apps .container .apps-details .category-apps .app-detail .upper .app-icon {
    text-align: center;
  }

  .apps
    .container
    .apps-details
    .category-apps
    .app-detail
    .upper
    .app-icon
    .icon {
    width: 60%;
  }

  .apps .container .apps-details .category-apps .app-detail .detail {
    font-size: 1.2rem;
  }
  .apps .container .apps-details .category-apps .app-detail .detail:hover {
    background: #1c4784;
    background: -webkit-linear-gradient(to right, #0da6ad, #1c4784);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0da6ad, #1c4784); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    border-color: transparent;
  }

  .apps
    .container
    .apps-details
    .category-apps
    .app-detail
    .upper
    .main-details
    .cat-name {
    font-size: 15px;
  }

  .apps
    .container
    .apps-details
    .category-apps
    .app-detail
    .upper
    .main-details
    .app-name {
    font-size: 16px;
  }
}

.apps .container .apps-details .wrapper .left,
.apps .container .apps-details .wrapper .right {
  display: none;
}
.apps .container .apps-details .wrapper {
  position: relative;
}

@media (max-width: 700px) {
  .apps {
    padding-bottom: 100px;
    margin-bottom: 100px;
  }

  .apps .container .apps-details .wrapper .categories {
    grid-template-columns: repeat(6, 30%);
    overflow-x: scroll;
    grid-gap: 10px;
    width: 95%;
    margin: auto;
  }

  .apps .container .apps-details .categories::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  .apps .container .apps-details .categories::-webkit-scrollbar-thumb {
    background: transparent;
  }

  .apps .container .apps-details .categories .indi-cat {
    margin-right: 5px;
  }

  .apps .container .apps-details .categories .indi-cat .wrapper {
    padding: 10px 20px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-bottom: 10px;
  }
  .apps .container .apps-details .categories .indi-cat .cat-name {
    font-size: 9px;
    text-align: center;
  }
  .apps .container .apps-details .wrapper .left,
  .apps .container .apps-details .wrapper .right {
    display: initial;
    position: absolute;
    z-index: 1;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .apps .container .apps-details .wrapper .left,
  .apps .container .apps-details .wrapper .right {
    left: 0;
    top: 15%;
    width: 30px;
    text-align: center;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-110%);
  }

  .apps .container .apps-details .wrapper .right {
    left: 100%;
    transform: translate(0%);
  }

  .apps .container .apps-details .wrapper .left .left-icon,
  .apps .container .apps-details .wrapper .right .right-icon {
    width: 25%;
  }
}

@media (max-width: 400px) {
  .apps .container .apps-details .categories .indi-cat .wrapper {
    padding: 10px 15px;
  }
  .apps .container .apps-details .categories .indi-cat .cat-name {
    font-size: 8px;
  }
}

.mads-laptop-img:hover{
  animation-name: "pulse";
}