* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
      font-size: 13px;
  } */

body {
  background-color: #fff;
  font-family: 'Nunito', sans-serif;
}

li {
  list-style: none;
}

button {
  box-shadow: none;
  border: none;
  cursor: pointer;
}a {
  text-decoration: none;
}
.main-container {
  position: relative;
}
.blue,
.red,
.gold,
.green {
  line-height: 35px;
}


.blue {
  color: #2f3490;
}

.red {
  color: #b20a1b;
}

.gold {
  color: #deb83f;
}

.green {
  color: #1eb589;
}

@media (max-width: 1500px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1350px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 11px;
  }
}





/* header */

.solutions-header {
  margin-bottom: 100px;
}

.solutions-header .container {
  max-width: 1600px;
  padding: 150px 50px 0 50px;
  margin: auto;
}

.solutions-header .container .title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

.solutions-header .container .subtitle {
  margin-bottom: 50px;
  text-align: center;
  font-size: 1.5rem;
}

.solutions-header .container .header-img-container .header-img {
  width: 100%;
}

@media (max-width: 1200px) {
  .solutions-header {
    margin-bottom: 40px;
  }
  .solutions-header .container {
    padding: 120px 20px 0 20px;
  }
  .solutions-header .container .title {
    font-size: 2.3rem;
  }
  .solutions-header .container .subtitle {
    font-size: 1.2rem;
  }
}

/* Middle Section */
.middle-section .container {
  max-width: 1600px;
  padding: 0 50px;
  margin: 0 auto 0px auto;
}

.middle-section .container .sub-section {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-gap: 4%;
  margin-bottom: 80px;
}

.middle-section .container .sub-section .image-container .about-img {
  width: 100%;
}

.middle-section .container .sub-section .details-container {
  padding: 20px 0;
}

.middle-section .container .sub-section .details-container .title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.middle-section .container .sub-section .details-container hr {
  width: 100px;
  margin-bottom: 20px;
}

.middle-section .container .sub-section .details-container .detail {
  font-size: 1.3rem;
  line-height: 30px;
  color: grey;
}


@media (max-width: 1300px) {
  .middle-section .container .sub-section .details-container {
    padding: 0;
  }
}

@media (max-width: 1200px) {
  .middle-section .container {
    padding: 20px;
  }

  .middle-section .container .sub-section {
    grid-template-columns: 100%;
    margin-bottom: 60px;
    grid-gap: 0;
  }

  .middle-section .container .rev {
    display: flex;
    flex-direction: column-reverse;
  }

  .middle-section .container .sub-section .image-container {
    margin-bottom: 40px;
  }
  .middle-section .container .sub-section .details-container {
    margin: 0;
  }
}

@media (max-width: 900px) {
  .middle-section .container .sub-section .details-container .detail {
    text-align: justify;
    font-size: 1.2rem;
  }
}
