* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* html {
      font-size: 13px;
  } */

body {
	background-color: rgb(249, 249, 249);
	font-family: 'Nunito', sans-serif;
}

li {
	list-style: none;
}

button {
	box-shadow: none;
	border: none;
	cursor: pointer;
}
a {
	text-decoration: none;
}
.main-container {
	position: relative;
}

.applications-header .container .header-content .indi-application:hover .img-container {
	border-color: white;
}

.applications-header .container .header-content .indi-application .img-container path:hover {
	fill: #ffffff !important;
}

.applications-header .container .header-content .indi-application .img-container svg:hover {
	fill: #ffffff !important;
}
.applications-header .container .header-content .indi-application .img-container svg {
	padding: 24px;
	fill: url(#linear-gradient);
}

.blue,
.red,
.gold,
.green {
	line-height: 35px;
}

.blue {
	color: #2f3490;
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.22;
}

.red {
	color: #b20a1b;
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.22;
}

.gold {
	color: #deb83f;
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.22;
}

.green {
	color: #1eb589;
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.22;
}

@media (max-width: 1500px) {
	html {
		font-size: 13px;
	}
}

@media (max-width: 1350px) {
	html {
		font-size: 12px;
	}
	.applications-header .container .header-content .indi-application .img-container {
		width: auto !important;
	}
}

@media (max-width: 900px) {
	html {
		font-size: 11px;
	}
}

/* header */

.solutions-header {
	margin-bottom: 100px;
	background-color: #ffffff;
}

.solutions-header .container {
	max-width: 1600px;
	padding: 150px 50px 0 50px;
	margin: auto;
}

.solutions-header .container .title {
	/* font-size: 3rem; */
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Montserrat', sans-serif;
	color: #242424;
	font-size: 36px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.22;
}

.solutions-header .container .subtitle {
	margin-bottom: 50px;
	text-align: center;
	/* font-size: 1.5rem; */
	font-family: 'Montserrat', sans-serif;
	color: #646464;
	font-size: 18px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.22;
}

.solutions-header .container .header-img-container .header-img {
	width: 100%;
}

@media (max-width: 1200px) {
	.solutions-header {
		margin-bottom: 40px;
	}
	.solutions-header .container {
		padding: 120px 20px 0 20px;
	}
	.solutions-header .container .title {
		font-size: 2.3rem;
	}
	.solutions-header .container .subtitle {
		font-size: 1.2rem;
	}
	.applications-header .container {
		padding: 120px 20px 0 20px;
	}
}

/* Middle Section */
.middle-section .container {
	max-width: 1600px;
	padding: 0 50px;
	margin: 0 auto 0px auto;
}

.middle-section .container .sub-section {
	display: grid;
	grid-template-columns: 48% 48%;
	grid-gap: 4%;
	margin-bottom: 80px;
	padding-top: 64px;
}

.middle-section .container .sub-section .image-container .about-img {
	width: 100%;
}

.middle-section .container .sub-section .details-container {
	padding: 20px 0;
}

.middle-section .container .sub-section .details-container .title {
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #242424;
	font-size: 36px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.22;
}

.middle-section .container .sub-section .details-container hr {
	width: 100px;
	margin-bottom: 20px;
}

.middle-section .container .sub-section .details-container .detail {
	font-family: 'Montserrat', sans-serif;
	color: #646464;
	font-size: 18px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 30px;
}

@media (max-width: 1300px) {
	.middle-section .container .sub-section .details-container {
		padding: 0;
	}
}

@media (max-width: 1200px) {
	.middle-section .container {
		padding: 20px;
	}

	.middle-section .container .sub-section {
		grid-template-columns: 100%;
		margin-bottom: 60px;
		grid-gap: 0;
	}

	.middle-section .container .rev {
		display: flex;
		flex-direction: column-reverse;
	}

	.middle-section .container .sub-section .image-container {
		margin-bottom: 40px;
	}
	.middle-section .container .sub-section .details-container {
		margin: 0;
	}
}

@media (max-width: 900px) {
	.middle-section .container .sub-section .details-container .detail {
		text-align: justify;
		font-size: 1.2rem;
	}
}

.applications-header .container {
	max-width: 1600px;
	padding: 0px 50px 0 50px;
	margin: auto;
}

.applications-header .container .title {
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Montserrat', sans-serif;
	color: #242424;
	font-size: 36px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.22;
}

.applications-header .container .subtitle {
	margin-bottom: 50px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #646464;
	font-size: 18px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.22;
}

.applications-header .container .header-content {
	display: flex;
	justify-content: space-between;
}

.applications-header .container .header-content .indi-application {
	width: 22%;
	padding: 40px 20px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.applications-header .container .header-content .indi-application .img-container {
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	text-align: center;
	margin-bottom: 80px;
	border-width: 3px;
	border-style: solid;
	padding: 20px;
	border-radius: 100%;
	border-width: 10px;
	border-color: #1c4a86;
	/* border-color: #9cb2cf; */
}

.applications-header .container .header-content .indi-application .img-container img {
	width: 70%;
}

.applications-header .container .header-content .indi-application .click {
	background: linear-gradient(
		to right,
		#1c4a86 0%,
		#1c4e87 4%,
		#1b5289 9%,
		#1b538a 9%,
		#1b578b 14%,
		#1a5d8e 20%,
		#186994 31%,
		#177499 41%,
		#167b9c 48%,
		#1486a1 60%,
		#1390a6 68%,
		#129aab 78%,
		#10a7b0 89%,
		#0fafb4 100%
	);
	width: 100%;
	display: block;
	border-radius: 50px;
}

.applications-header .container .header-content .indi-application .click {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	width: 100%;
	text-align: center;
	display: block;
	padding: 10px;
	font-size: 1.3rem;
	letter-spacing: 1px;
}

@media (max-width: 800px) {
	.applications-header .container .header-content .indi-application {
		width: 22%;
		padding: 30px 5px 10px 5px;
		-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		width: 23%;
	}

	.applications-header .container .header-content .indi-application .img-container {
		margin-bottom: 50px;
		width: 100px;
		height: 100px;
		padding: 15px;
		border-width: 5px;
	}

	.applications-header .container .header-content .indi-application .img-container img {
		width: 70%;
	}

	.applications-header .container .header-content .indi-application .click a {
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		width: 100%;
		text-align: center;
		display: block;
		padding: 10px;
		font-size: 1rem;
		letter-spacing: 1px;
	}
	.applications-header .container {
		padding: 0 !important;
	}
}

@media (max-width: 600px) {
	.applications-header .container .header-content .indi-application {
		width: 22%;
		padding: 20px 5px 10px 5px;
		-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		width: 23%;
	}

	.applications-header .container .header-content .indi-application .img-container {
		width: 80%;
		margin-bottom: 50px;
	}

	.applications-header .container .header-content .indi-application .img-container img {
		width: 85%;
	}

	.applications-header .container .header-content .indi-application .img-container {
		width: 60px;
		height: 60px;
		padding: 10px;
		border-width: 4px;
		margin-bottom: 30px;
		padding-left: 18px !important;
	}
	.applications-header .container .header-content .indi-application .click {
		font-size: 10px;
	}

	.applications-header .container .header-content .indi-application .click a {
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		width: 100%;
		text-align: center;
		display: block;
		padding: 5px;
		font-size: 0.5rem;
		letter-spacing: 1px;
	}
	.applications-header .container {
		padding: 0 !important;
	}
}

/* .img-monitor{

  max-width: 100% !important;
  height: auto;
}
.img-automate{

  max-width: 100% !important;
  height: auto;
}
.img-diagnose{
  max-width: 100% !important;
  height: auto;

}
.img-secure{
  max-width: 100% !important;
  height: auto;

} */
