* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(249, 249, 249);
  font-family: 'Nunito', sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  box-shadow: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 1500px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1350px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 11px;
  }
}

.main-container {
  position: relative;
}

/* homepage header */
.text-heading-1{
  
}


.homepage-header {
  height: 100vh;
  /* background-color: rgb(255, 255, 255); */
  background: linear-gradient(to right, rgb(232, 227, 245), #dffcf3);
  /* opacity: 0.5; */

}
/* .gradinet{
  max-height: 50vh;
  background: linear-gradient(to right, #8360c3, #2ebf91);
  background: linear-gradient(to right, #B49EE7, #2ebf91);

} */
.text-heading1{
  font-family: 'Montserrat', sans-serif;
  color: #242424;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
}
.text-heading2{
  font-family: 'Montserrat', sans-serif;
  color: #646464;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
}
.text-heading3{
  font-family: 'Montserrat', sans-serif;
  color: #1E1E1E;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
}

.homepage-header .container {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 1600px;
  margin: auto;
  padding: 0 50px;
  padding-top: 25vh;
}

.homepage-header .container .res-detail {
  display: none;
}

.homepage-header .container .hero-showcase .hero-showcase-container {
  text-align: right;
}

.homepage-header .container .hero-showcase .hero-showcase-container img {
  width: 100%;
}

.homepage-header .container .hero-details .hero-details-container {
  padding: 0 0 0 80px;
}

.homepage-header .container .hero-details .hero-details-container .hero-title {
  /* font-size: 60px;
  font-family: 'Montserrat', sans-serif; */
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #242424;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
}

.homepage-header .container .hero-details .hero-details-container .detail {
  /* font-size: 30px;
  line-height: 40px;
  font-weight: bold; */
  margin-bottom: 80px;
  font-family: 'Montserrat', sans-serif;
  color: #646464;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.66;
  width: 305px;
  height: 44px;

}

.homepage-header
  .container
  .hero-details
  .hero-details-container
  .hero-explore {
  display: flex;

  align-items: center;
  /* padding: 13px 30px 13px 20px; */
  padding: 2px 32px 2px 2px;
  /* background-color: #203864; */
  background: linear-gradient(
    to right,
    #1c4a86 0%,
    #1c4e87 4%,
    #1b5289 9%,
    #1b538a 9%,
    #1b578b 14%,
    #1a5d8e 20%,
    #186994 31%,
    #177499 41%,
    #167b9c 48%,
    #1486a1 60%,
    #1390a6 68%,
    #129aab 78%,
    #10a7b0 89%,
    #0fafb4 100%
  );
  color: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 0 50px 0;
  font-family: 'Nunito', sans-serif;
  height: 50px;
  border-radius: 43px;
}

.homepage-header
  .container
  .hero-details
  .hero-details-container
  .hero-explore:hover {
  font-weight: bold;
    background: -webkit-linear-gradient(
      to right,
      #1c4a86 0%,
      #1c4e87 4%,
      #1b5289 9%,
      #1b538a 9%,
      #1b578b 14%,
      #1a5d8e 20%,
      #186994 31%,
      #177499 41%,
      #167b9c 48%,
      #1486a1 60%,
      #1390a6 68%,
      #129aab 78%,
      #10a7b0 89%,
      #0fafb4 100%
    );
    background-color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-border-image: -webkit-linear-gradient(
      to right,
      #1c4a86 0%,
      #1c4e87 4%,
      #1b5289 9%,
      #1b538a 9%,
      #1b578b 14%,
      #1a5d8e 20%,
      #186994 31%,
      #177499 41%,
      #167b9c 48%,
      #1486a1 60%,
      #1390a6 68%,
      #129aab 78%,
      #10a7b0 89%,
      #0fafb4 100%
    );
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: solid 1px #0FAFB4;
}

.homepage-header
  .container
  .hero-details
  .hero-details-container
  .hero-explore
  .text {
  font-weight: bold;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  margin-left: 10px;
}

.homepage-header
  .container
  .hero-details
  .hero-details-container
  .hero-explore
  .icon
  .explore-img {
  width: 80%;
}

.homepage-header
  .container
  .hero-details
  .hero-details-container
  .hero-explore
  .icon {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
}

.homepage-header .container .hero-details .hero-details-container .demo-request,
.homepage-header
  .container
  .hero-details
  .hero-details-container
  .success-email-cont {
  background: #cad5e6;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 0px 0px 0 20px;
  border-radius: 50px;
  height: 50px;
  width: 78%;
}

.homepage-header
  .container
  .hero-details
  .hero-details-container
  .demo-request
  .email-success {
  display: none;
  color: #4eb6bc;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.homepage-header
  .container
  .hero-details
  .hero-details-container
  .success-email-cont {
  padding: 20px;
  background-color: transparent;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.homepage-header
  .container
  .hero-details
  .hero-details-container
  .demo-request
  .demo-req-input {
  font-family: 'Nunito', sans-serif;
  border: none;
  padding: 10px 20px;
  background: transparent;
  /* width: 60%; */
  width: 65%;
  font-size: 20px;
  font-weight: bold;
}

.homepage-header
  .container
  .hero-details
  .hero-details-container
  .demo-request
  .demo-req-input:focus {
  outline: none;
}

.homepage-header
  .container
  .hero-details
  .hero-details-container
  .demo-request
  .demo-req-btn {
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(
    to right,
    #1c4a86 0%,
    #1c4e87 4%,
    #1b5289 9%,
    #1b538a 9%,
    #1b578b 14%,
    #1a5d8e 20%,
    #186994 31%,
    #177499 41%,
    #167b9c 48%,
    #1486a1 60%,
    #1390a6 68%,
    #129aab 78%,
    #10a7b0 89%,
    #0fafb4 100%
  );
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  /* padding: 20px 20px; */
  width: 48%;
  border-radius: 50px;
  height: 50px;
}

@media (max-width: 1500px) {
  .homepage-header .container .hero-showcase .hero-showcase-container img {
    width: 90%;
  }

  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .hero-title {
    font-size: 50px;
  }
  .homepage-header .container .hero-details .hero-details-container .detail {
    font-size: 20px;
    margin-bottom: 30px;
    width: 80%;
  }

  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .demo-request {
    width: 80%;
  }

  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .demo-request
    .demo-req-btn {
    font-size: 1.3rem;
    padding: 15px;
  }

  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .hero-explore
    .text {
    font-size: 15px;
  }

  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .demo-request
    .demo-req-input {
    padding: 10px 15px;
    font-size: 12px;
  }

  /* .homepage-header
    .container
    .hero-details
    .hero-details-container
    .hero-explore {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  } */

  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .hero-explore
    .text {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    margin-left: 20px;
  }

  /* .homepage-header
    .container
    .hero-details
    .hero-details-container
    .hero-explore
    .icon {
    height: 25px;
    width: 25px;
  } */

  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .success-email-cont {
    padding: 10px 15px;
  }
  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .demo-request
    .email-success {
    font-size: 12px;
  }
}

@media (max-width: 1100px) {
  .homepage-header {
    height: auto;
  }

  .homepage-header .container {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
  }
  .homepage-header .container .hero-showcase .hero-showcase-container img {
    width: 100%;
  }


  .homepage-header .container .res-detail {
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }

  .homepage-header .container .res-detail .res-hero-title {
    font-size: 3rem;
    margin-bottom: 15px;
  }

  .homepage-header .container .res-detail .res-detail {
    font-size: 2rem;
    line-height: 30px;
  }

  .homepage-header .container .hero-showcase {
    margin-bottom: 30px;
  }

  .homepage-header .container .hero-details {
    order: 1;
    margin-bottom: 50px;
  }
  .homepage-header .container .hero-details .hero-details-container {
    padding: 0;
  }
  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .hero-title {
    text-align: center;
    display: none;
  }
  .homepage-header .container .hero-details .hero-details-container .detail {
    text-align: center;
    display: none;
  }
  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .hero-explore {
    margin: auto;
    margin-bottom: 20px;
  }
  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .demo-request {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .hero-title {
    font-size: 35px;
  }

  .homepage-header .container {
    padding-top: 150px;
  }

  .homepage-header .container .hero-details .hero-details-container .detail {
    font-size: 16px;
  }

  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .hero-explore {
    padding: 10px 20px;
  }

  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .hero-explore
    .icon {
    height: 27px;
    width: 27px;
  }

  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .hero-explore
    .text {
    font-size: 16px;
  }
  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .hero-explore
    .explore-img {
    width: 35px;
  }

  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .demo-request
    .demo-req-input {
    padding: 10px 20px;
    font-size: 16px;
  }

  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .demo-request
    .demo-req-btn {
    font-size: 16px;
    padding: 10px 20px;
  }

  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .success-email-cont {
    padding: 10px 20px;
  }
}

@media (max-width: 700px) {
  .homepage-header .container {
    padding: 120px 20px 0 20px;
  }

  .homepage-header .container .hero-details .hero-details-container .detail {
    font-size: 15px;
    line-height: 23px;
  }

  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .hero-explore {
    padding: 10px 30px 10px 20px;
  }

  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .hero-explore
    .icon {
    height: 20px;
    width: 20px;
  }

  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .hero-explore
    .icon
    .explore-img {
    width: 90%;
  }

  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .hero-explore
    .text {
    font-size: 12px;
  }
  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .hero-explore
    .explore-img {
    width: 25px;
  }

  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .demo-request
    .demo-req-input {
    padding: 10px 20px;
    font-size: 12px;
    width: 55%;
  }

  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .demo-request
    .demo-req-btn {
    font-size: 12px;
    padding: 10px 20px;
    width: 40%;
  }
}

@media (max-width: 600px) {
  .homepage-header .container {
    padding-top: 100px;
  }

  .homepage-header .container .res-detail .res-hero-title {
    font-size: 2.7rem;
    margin-bottom: 15px;
  }

  .homepage-header .container .res-detail .res-detail {
    font-size: 1.6rem;
    line-height: 30px;
  }
}

@media (max-width: 400px) {
  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .hero-title {
    font-size: 28px;
  }

  .homepage-header .container .hero-details .hero-details-container .detail {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .demo-request {
    padding-left: 10px;
  }

  .homepage-header
    .container
    .hero-details
    .hero-details-container
    .demo-request
    .demo-req-btn {
    font-size: 10px;
    padding: 10px 20px;
    width: 44%;
  }
}

/* homepage middle content */

.homepage-middle-content .container {
  max-width: 1600px;
  padding: 0 50px;
  margin: 50px auto 0 auto;
}

.homepage-middle-content .container .title {
  /* font-size: 50px; */
  text-align: center;
  margin-bottom: 100px;
  font-family: 'Montserrat', sans-serif;
  color: #242424;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  word-spacing: 8px;

 
}

.homepage-middle-content .container .configuration {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 70px;
}

.homepage-middle-content .container .configuration .img-container img {
  width: 100%;
}

.homepage-middle-content .container .configuration .info {
  padding: 20px 80px;
}

.homepage-middle-content .container .configuration .info .subtitle {
  /* font-size: 40px; */
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #242424;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;

}

.homepage-middle-content .container .configuration .info .text {
  /* font-size: 20px; */
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #646464;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
}

.homepage-middle-content .container .configuration .info .features {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 10%;
}

.homepage-middle-content
  .container
  .configuration
  .info
  .features
  .indi-feature {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}

.homepage-middle-content .container .configuration .info .features:nth-child(3),
.homepage-middle-content
  .container
  .configuration
  .info
  .features:nth-child(4) {
  margin-bottom: 30px;
}

.homepage-middle-content
  .container
  .configuration
  .info
  .features
  .indi-feature
  .icon-container {
  width: 25%;
}

.homepage-middle-content
  .container
  .configuration
  .info
  .features
  .indi-feature
  .icon-container
  img {
  width: 100%;
}

.homepage-middle-content
  .container
  .configuration
  .info
  .features
  .indi-feature
  .feature-text {
  width: 70%;
  /* font-weight: bold;
  color: #464242;
  font-size: 15px;
  line-height: 25px; */
  height: 45px;
  /* width: 158px; */
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  color: #1E1E1E;
}

.homepage-middle-content .container .configuration .info .read-cs-btn {
  padding: 15px 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  color: #fff;
  background: linear-gradient(
    to right,
    #1c4a86 0%,
    #1c4e87 4%,
    #1b5289 9%,
    #1b538a 9%,
    #1b578b 14%,
    #1a5d8e 20%,
    #186994 31%,
    #177499 41%,
    #167b9c 48%,
    #1486a1 60%,
    #1390a6 68%,
    #129aab 78%,
    #10a7b0 89%,
    #0fafb4 100%
  );
  border-radius: 50px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.homepage-middle-content .container .configuration .info .read-cs-btn:hover,
.homepage-middle-content .container .easy-use .info .read-cs-btn:hover,
.homepage-middle-content .container .quick-deployment .info .read-cs-btn:hover {
  font-weight: bold;
  background: -webkit-linear-gradient(
    to right,
    #1c4a86 0%,
    #1c4e87 4%,
    #1b5289 9%,
    #1b538a 9%,
    #1b578b 14%,
    #1a5d8e 20%,
    #186994 31%,
    #177499 41%,
    #167b9c 48%,
    #1486a1 60%,
    #1390a6 68%,
    #129aab 78%,
    #10a7b0 89%,
    #0fafb4 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-border-image: -webkit-linear-gradient(
    to right,
    #1c4a86 0%,
    #1c4e87 4%,
    #1b5289 9%,
    #1b538a 9%,
    #1b578b 14%,
    #1a5d8e 20%,
    #186994 31%,
    #177499 41%,
    #167b9c 48%,
    #1486a1 60%,
    #1390a6 68%,
    #129aab 78%,
    #10a7b0 89%,
    #0fafb4 100%
  );
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: solid 1px #0FAFB4;
}

.homepage-middle-content .container .easy-use {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 70px;
}

.homepage-middle-content .container .easy-use .img-container {
  padding: 0 0 0 40px;
}

.homepage-middle-content .container .easy-use .img-container img {
  width: 100%;
}

.homepage-middle-content .container .easy-use .info {
  padding: 20px 0px;
}

.homepage-middle-content .container .easy-use .info .subtitle {
  /* font-size: 40px; */
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #242424;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
}

.homepage-middle-content .container .easy-use .info .text {
  /* font-size: 20px; */
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #646464;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
}

.homepage-middle-content .container .easy-use .info .features {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 10%;
}

.homepage-middle-content .container .easy-use .info .features .indi-feature {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}

.homepage-middle-content .container .easy-use .info .features:nth-child(3),
.homepage-middle-content .container .easy-use .info .features:nth-child(4) {
  margin-bottom: 30px;
}

.homepage-middle-content
  .container
  .easy-use
  .info
  .features
  .indi-feature
  .icon-container {
  width: 25%;
}

.homepage-middle-content
  .container
  .easy-use
  .info
  .features
  .indi-feature
  .icon-container
  img {
  width: 100%;
}

.homepage-middle-content
  .container
  .easy-use
  .info
  .features
  .indi-feature
  .feature-text {
    width: 70%;
    /* font-weight: bold;
    color: #464242;
    font-size: 15px;
    line-height: 25px; */
    height: 45px;
    /* width: 158px; */
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    color: #1E1E1E;
}

.homepage-middle-content .container .easy-use .info .read-cs-btn {
  font-family: 'Nunito', sans-serif;
  padding: 15px 30px;
  font-size: 25px;
  color: #fff;
  background: linear-gradient(
    to right,
    #1c4a86 0%,
    #1c4e87 4%,
    #1b5289 9%,
    #1b538a 9%,
    #1b578b 14%,
    #1a5d8e 20%,
    #186994 31%,
    #177499 41%,
    #167b9c 48%,
    #1486a1 60%,
    #1390a6 68%,
    #129aab 78%,
    #10a7b0 89%,
    #0fafb4 100%
  );
  border-radius: 50px;
}

.homepage-middle-content .container .quick-deployment {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 150px;
}

.homepage-middle-content .container .quick-deployment .img-container img {
  width: 100%;
}

.homepage-middle-content .container .quick-deployment .info {
  padding: 20px 80px;
}

.homepage-middle-content .container .quick-deployment .info .subtitle {
  /* font-size: 40px; */
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #242424;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
}

.homepage-middle-content .container .quick-deployment .info .text {
  /* font-size: 20px; */
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #646464;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
}

.homepage-middle-content .container .quick-deployment .info .features {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 10%;
}

.homepage-middle-content
  .container
  .quick-deployment
  .info
  .features
  .indi-feature {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}

.homepage-middle-content
  .container
  .quick-deployment
  .info
  .features:nth-child(3),
.homepage-middle-content
  .container
  .quick-deployment
  .info
  .features:nth-child(4) {
  margin-bottom: 30px;
}

.homepage-middle-content
  .container
  .quick-deployment
  .info
  .features
  .indi-feature
  .icon-container {
  width: 25%;
}

.homepage-middle-content
  .container
  .quick-deployment
  .info
  .features
  .indi-feature
  .icon-container
  img {
  width: 100%;
}

.homepage-middle-content
  .container
  .quick-deployment
  .info
  .features
  .indi-feature
  .feature-text {
  width: 70%;
  /* font-weight: bold;
  color: #464242;
  font-size: 15px;
  line-height: 25px; */
  height: 45px;
  /* width: 158px; */
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  color: #1E1E1E;
}

.homepage-middle-content .container .quick-deployment .info .read-cs-btn {
  padding: 15px 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  color: #fff;
  background: linear-gradient(
    to right,
    #1c4a86 0%,
    #1c4e87 4%,
    #1b5289 9%,
    #1b538a 9%,
    #1b578b 14%,
    #1a5d8e 20%,
    #186994 31%,
    #177499 41%,
    #167b9c 48%,
    #1486a1 60%,
    #1390a6 68%,
    #129aab 78%,
    #10a7b0 89%,
    #0fafb4 100%
  );
  border-radius: 50px;
}

@media (max-width: 1500px) {
  .homepage-middle-content .container .title {
    font-size: 35px;
    text-align: center;
    margin-bottom: 100px;
    font-family: 'Montserrat', sans-serif;
    line-height: 50px;
  }

  .homepage-middle-content .container .configuration .info,
  homepage-middle-content .container .easy-use .info,
  homepage-middle-content .container .quick-deployment .info {
    padding: 0px 80px;
  }

  .homepage-middle-content .container .configuration .info .subtitle,
  .homepage-middle-content .container .easy-use .info .subtitle,
  .homepage-middle-content .container .quick-deployment .info .subtitle {
    font-size: 30px;
  }
  .homepage-middle-content .container .configuration .info .read-cs-btn,
  .homepage-middle-content .container .easy-use .info .read-cs-btn,
  .homepage-middle-content .container .quick-deployment .info .read-cs-btn {
    font-size: 17px;
    padding: 10px 20px;
  }
}

@media (max-width: 1400px) {
  .homepage-middle-content .container .configuration .info {
    padding: 0 50px;
  }

  .homepage-middle-content .container .easy-use .info {
    padding: 0 50px;
  }

  .homepage-middle-content .container .easy-use .info .read-cs-btn {
    font-size: 17px;
    padding: 10px 20px;
  }
  .homepage-middle-content .container .quick-deployment .info {
    padding: 0 50px;
  }

  .homepage-middle-content .container .quick-deployment .info .read-cs-btn {
    font-size: 17px;
    padding: 10px 20px;
  }
}

@media (max-width: 1100px) {
  .homepage-middle-content .container .quick-deployment {
    margin-bottom: 0px;
  }

  .homepage-middle-content .container .title {
    font-size: 30px;
  }

  .homepage-middle-content .container .configuration {
    grid-template-columns: 100%;
  }
  .homepage-middle-content .container .configuration .info .subtitle {
    font-size: 30px;
    margin: 50px 0 20px 0;
    text-align: center;
  }
  .homepage-middle-content .container .configuration .info .text {
    text-align: center;
  }
  .homepage-middle-content .container .configuration .info .read-cs-btn {
    margin: 20px auto 20px auto;
    display: block;
    padding: 15px 25px;
  }

  .homepage-middle-content .container .easy-use {
    display: flex;
    flex-direction: column-reverse;
  }

  .homepage-middle-content .container .easy-use .img-container {
    padding: 0px;
  }

  .homepage-middle-content .container .easy-use .info .subtitle {
    font-size: 30px;
    margin: 50px 0 20px 0;
    text-align: center;
  }
  .homepage-middle-content .container .easy-use .info .text {
    text-align: center;
  }
  .homepage-middle-content .container .easy-use .info .read-cs-btn {
    margin: 20px auto 20px auto;
    display: block;
    padding: 15px 25px;
  }

  .homepage-middle-content .container .quick-deployment {
    grid-template-columns: 100%;
  }
  .homepage-middle-content .container .quick-deployment .info .subtitle {
    font-size: 30px;
    margin: 50px 0 20px 0;
    text-align: center;
  }
  .homepage-middle-content .container .quick-deployment .info .text {
    text-align: center;
  }
  .homepage-middle-content .container .quick-deployment .info .read-cs-btn {
    margin: 50px auto 20px auto;
    display: block;
    padding: 15px 25px;
  }
}

@media (max-width: 800px) {
  .homepage-middle-content .container {
    padding: 0 20px;
  }
  .homepage-middle-content .container .title {
    font-size: 25px;
    margin-bottom: 50px;
    line-height: 35px;
  }
  .homepage-middle-content .container .configuration .info {
    padding: 0;
  }
  .homepage-middle-content .container .configuration .info .subtitle {
    font-size: 22px;
  }
  .homepage-middle-content .container .configuration .info .text {
    font-size: 15px;
  }
  .homepage-middle-content .container .easy-use .info {
    padding: 0;
  }
  .homepage-middle-content .container .easy-use .info .subtitle {
    font-size: 22px;
  }
  .homepage-middle-content .container .easy-use .info .text {
    font-size: 15px;
  }
  .homepage-middle-content .container .quick-deployment .info {
    padding: 0;
  }
  .homepage-middle-content .container .quick-deployment .info .subtitle {
    font-size: 22px;
  }
  .homepage-middle-content .container .quick-deployment .info .text {
    font-size: 15px;
  }

  .homepage-middle-content .container .easy-use,
  .homepage-middle-content .container .configuration,
  .homepage-middle-content .container .quick-deployment {
    border-bottom: 1px solid #e5e5e5;
  }
}

@media (max-width: 500px) {
  .homepage-middle-content .container .title {
    font-size: 20px;
    margin-bottom: 50px;
  }
  .homepage-middle-content .container .configuration .info .features {
    grid-template-columns: 100%;
  }
  .homepage-middle-content .container .configuration .info .read-cs-btn {
    margin-top: 150px;
  }
  .homepage-middle-content .container .easy-use .info .features {
    grid-template-columns: 100%;
  }
  .homepage-middle-content .container .easy-use .info .read-cs-btn {
    margin-top: 150px;
  }
  .homepage-middle-content .container .quick-deployment .info .features {
    grid-template-columns: 100%;
  }
  .homepage-middle-content .container .quick-deployment .info .read-cs-btn {
    margin-top: 150px;
  }
}
/* Partners */

.partners {
  padding: 100px 0;
  background-color: rgb(255, 255, 255);
}

.partners .container {
  max-width: 1600px;
  margin: auto;
  padding: 0 50px;
}

.partners .container .title {
  /* font-size: 40px;
  font-weight: bold; */
  text-align: center;
  margin: 0 0 80px 0;
  font-family: 'Montserrat', sans-serif;
  color: #242424;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  
}

.partners .container .content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.partners .left,
.partners .right {
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.partners .left img,
.partners .right img {
  width: 20%;
}

.partners .brands {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partners .brands .brand {
  width: 25%;
  text-align: center;
}

.partners .brands .brand img {
  width: 50%;
}

@media (max-width: 1100px) {
  .partners .brands .brand:nth-child(4) {
    display: none;
  }
  .partners .brands {
    overflow-x: scroll !important;
  }
  .partners .brands::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  .partners .brands::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .partners .brands .brand {
    width: 33% !important;
  }
}

@media (max-width: 800px) {
  .partners {
    padding: 70px 0 60px 0;
    background-color: rgb(255, 255, 255);
  }

  .partners .container .title {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .partners .container {
    padding: 0;
  }

  .partners .brands {
    display: grid;
    grid-template-columns: repeat(4, 33.33%);
  }

  .partners .brands .brand {
    width: 100% !important;
  
  }

  .partners .brands .brand:nth-child(4) {
    display: block;
  }
  .partners .container .content .left,
  .partners .container .content .right {
    width: 30px;
    height: 30px;
  }
  .partners .container .content .brands {
    width: 90%;
  }
  .partners .container .content .brands .brand img {
    width: 80%;
  }
  /* .partners .brands .brand {
    width: 100% !important;
  } */
}
